/* This container will overwrite global one */
.container {
  /* background: #000; */
  display: flex;
  
  min-width: 1000px;
  min-height: 65vh;
  margin: 0 auto;
  align-items: end;
  justify-content: center;
  /* padding:  0 2vw; */
  /* margin-top: 50px; */
  gap: 2vw;
  /* padding: 0 0 2vw 0; */
}

.top_btn{
    display: flex;
    gap: 32px;
}
.main_container{
  max-height: calc(100vh - 70px);
  /* background: pink; */
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.form_control{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 1vw;
}

.form_control input{
  height:40px;
  padding: 1vw 8px;
}

.form_control textarea{
  padding: 1vw 8px;
}

.form_control label{
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 14px;
  background-color: white;
  padding: 0 10px;
}

.form_container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/*  */